@charset "UTF-8";
@import "reset.css";
@import "cores.css";

/* @font-face{
    font-family: fortnite:
    src: url(fonts/fortnite/fortnite.otf)
}
 */

 @font-face {
    font-family: laura_fonte;
    src: url(fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
 }

 body{
    color: var(--platinum);
    font-family: laura_fonte;
 }

 
body {
    color: var(--platinum);
    font-family: Fortnite;
    background-color: var(--midnight-violet);
}

/* Span é uma tag para separa a letra e mudar de cor */
.tituloPrincipal span{
    text-align: center;
    color: aliceblue;
}

/* nth-child(Número da letra) serve para mudar cada letra */
.tituloPrincipal span:nth-child(1){
    text-align: center;
    color: aqua;
}

.tituloPrincipal span:nth-child(2){
    text-align: center;
    color: black;
}

.tituloPrincipal span:nth-child(3){
    text-align: center;
    color: blue;
}

.tituloPrincipal span:nth-child(4){
    text-align: center;
    color: rgb(255, 0, 0);
}

.tituloPrincipal span:nth-child(5){
    text-align: center;
    color: rgb(255, 0, 221);
}

.img-banner {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(14, 171, 199);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    background-color: aqua;
}

/* Muda quando voce passa o mouse por cima */

.menu ul li:hover {
    display: inline-block;
    padding: 20px;
    border: 2px solid #ff0000;
    background-color: rgb(22, 146, 146);
}

/* Clica no link e muda a cor da letra */
.menu ul li a:visited {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ff0000;
    background-color: rgb(255, 0, 0);
}

section {
    /* background-color: aquamarine; */
}

/* section section{
           font-size: 0;
        }    */
#turmas .sala {
    display: inline-block;
    vertical-align: top;
    background-color: burlywood;
    min-height: 300px;
    width: 100%;
    min-height: 350px;
    border: 2px solid #000;
    box-sizing: border-box;
}

#turmas footer {
    background-color: red;
}

#turmas footer h3 {
    font-size: smaller;
}

#turmas .sala.turma_A{
    background-color: rgb(18, 30, 147);
    color: #000;
}

#turmas .sala.turma_B{
    background-color: rgb(80, 20, 136);
    color: rgb(255, 255, 255);
}


.listaAlunos {
    list-style: decimal-leading-zero;
    margin-left: 30px;
}
.listaAlunos li {
    padding: 5px;
}

